<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h1>Instructions</h1>

      </div>
      <div class="col-md-8">

        <ng-container *ngIf="Question">
          <h1 class="mrt">{{Question[0].quiz.title}}</h1>
        </ng-container>

        <mat-card *ngFor="let q of Question;let i=index" class="mrt">
            <mat-card-content>
               <p> <b>Q)</b>{{i+1}} <span>{{q.content}}</span> </p>
                <mat-divider></mat-divider>
                <div class="row mrt">
                    <div class="col-md-6">
                        <input type="radio"
                        [value]="q.option1"
                        [name]="i.toString()"
                        [(ngModel)]="q.givenAnswer"
                        >
                        {{q.option1}}
                    </div>
                    <div class="col-md-6">
                        <input type="radio"
                        [value]="q.option2"
                        [name]="i.toString()"
                        [(ngModel)]="q.givenAnswer"
                        >
                        {{q.option2}}
                    
                    </div>
                </div>

                <div class="row mrt" >
                    <div class="col-md-6">
                        <input type="radio"
                        [value]="q.option3"
                        [name]="i.toString()"
                        [(ngModel)]="q.givenAnswer"
                        >
                        {{q.option3}}
                    </div>
                    <div class="col-md-6">
                        <input type="radio"
                        [value]="q.option4"
                        [name]="i.toString()"
                        [(ngModel)]="q.givenAnswer"
                        >
                        {{q.option4}}
                    
                    </div>
                </div>

            </mat-card-content>

        </mat-card>

        <div class="container text-center mrt">
            <button (click)="submit()" mat-raised-button color="accent">Submit</button>
        </div>

      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>


<div class="bootstrap-wrapper mrt" *ngIf="isSubmit">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <mat-card>
          <mat-card-header>
            <mat-card-title class="text-center">
              Quiz Result
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center mrt">
            <h1>Marks Got : {{marksGot}}</h1>
            <h1>Correct Answer : {{correctAnswer}}</h1>
            <h1>Question Attempted : {{attempted}}</h1>
          </mat-card-content>
          <mat-card-actions class="btn">
            <button mat-raised-button color="primary">Print</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>