
nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 60px;
    justify-content: space-between;
}

nav ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

nav ul li .btn
{
    padding-bottom: 20px;
}

.btn button {
    margin-left: 199px;
}